---
---

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% if page.title %}{{ page.title }}
                {% else %}{{ site.title }}{% endif %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{{ site.description }}">
        <link rel="canonical" href="{{ page.url | replace:'index.html',''
                | prepend: site.baseurl | prepend: site.url }}">
        {% if site.favicon_img %}
        <link rel="shortcut icon" href="{{ site.favicon_img_path }}" />
        {% endif %}
        <link rel="stylesheet" href="{{ "style.css" | prepend: site.baseurl }}">
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin'
                rel='stylesheet' type='text/css'>
    </head>
    <body>
        <div class="content">
            {% if site.front_img %}
            <img src="{{ site.front_img_path }}" id="fullscreen">
            {% endif %}

            {% if site.avatar %}
                <img src="{{ site.avatar_img_path }}" id="avatar">
            {% endif %}

            <!-- <h1>{{ site.name }}</h1> -->
            <h3>{{ site.description }}</h3>

            <ul>
                {% for link in site.links %}
                <li>
                    <a href="{{ link.url }}" target="_blank"{% if link.icon %}
                             class="{{ link.icon }}"{% endif %}>
                        {% if link.svg %}
                        <svg viewBox="{% if link.viewbox %}{{ link.viewbox }}
                                      {% else %}0 0 128 128{% endif %}">
                            {{ link.svg }}
                        </svg>
                        {% endif %}
                        <span class="description">{{ link.desc }}</span>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </body>
</html>
